{% extends "admin/layoutadmin.html.twig" %}

{% block title %}Liste des produits associés au #{{ tag.name }}{% endblock %}

{% block body %}
    <h1>Bienvenue sur la liste des produits associés au #{{ tag.name }}</h1>
    
    <ul>
        {% for product in products %}
            <li>
                {{ product.name }} {{ product.description }}
                {% for tag in product.tags %}
                    <a href="{{ path('list_product_by_tag', { name : tag.name }) }}"> #{{ tag.name }}</a>
                {% endfor %}
            </li>
        {% endfor %}
        <a href="{{ path('list_product')}}">Revenir a la liste des produits</a>
    </ul>
{% endblock %}